<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add item to store</title>
    <link rel="stylesheet" type="text/css" href="../css/additem_style.css">
</head>
<body>
    <div class="header">
        <h1>Add item to store</h1>
    </div>
    <div class="main_content">
        <form th:action="@{/admin/save}" th:object="${item}" method="POST">
            <label for="product_type"> Product Type</label><br>
            <input type="text" th:field="*{type}" placeholder="Type" id="product_type" required><br>
            <label for="make">Make</label><br>
            <input type="text" th:field="*{make}" placeholder="Make" id="make" required><br>
            <label for="model">Model</label><br>
            <input type="text" th:field="*{model}" placeholder="Model" id="model" required><br>
            <label for="full_name">Full Name</label><br>
            <input type="text" th:field="*{fullName}" placeholder="Full Name" id="full_name" required><br>
            <label for="image">Image url</label><br>
            <input type="text" th:field="*{image}" placeholder="Image URL" id="image" required><br>
            <label for="price">Price</label><br>
            <input type="number" th:field="*{price}" placeholder="Price" min="0.00" step="0.01" id="price" required><br>
            <button type="submit">Add</button>
        </form>
    </div>
</body>
</html>