<!--<div class="header">
        <div class="logo">
            <p><b>PR</b></p>
        </div>
        <ul class="categories">
            <li>
                <a href="#">Apple</a>
                <div class="Apple_drop_menu">
                    <div class="content">
                        <div class="row">
                            <header>Phones</header>
                            <ul class="apple_rows">
                                <li><a href="#">Samsung</a></li>
                                <li><a href="#">Phones</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Tablets</a></li>
                                <li><a href="#">Headphones</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <header>Phones</header>
                            <ul class="apple_rows">
                                <li><a href="#">Samsung</a></li>
                                <li><a href="#">Phones</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Tablets</a></li>
                                <li><a href="#">Headphones</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <header>Phones</header>
                            <ul class="apple_rows">
                                <li><a href="#">Samsung</a></li>
                                <li><a href="#">Phones</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Tablets</a></li>
                                <li><a href="#">Headphones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="#">Samsung</a></li>
            <li><a href="#">Phones</a></li>
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Tablets</a></li>
            <li><a href="#">Headphones</a></li>
            <li><a href="#">Watches</a></li>
            <li><a href="#">Accessories</a></li>
        </ul>
        <img class="lupa" src="../templates/lupa2.png">
        <img class="usericon" src="../templates/usericon.png">
        <img class="koszykpng" src="../templates/basket.png">
    </div>-->



<!--    <ul class="Apple_drop_menu">
        <li><a href="#">Samsung</a></li>
        <li><a href="#">Phones</a></li>
        <li><a href="#">Laptops</a></li>
        <li><a href="#">Tablets</a></li>
        <li><a href="#">Headphones</a></li>
    </ul>


    <div class="card">
                    <div class="card_content">
                        <p class="product" th:text="${item.fullName}">Samsung Galaxy S23 Ultra</p>
                        <div class="card_image">
                            <img src="https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/50/5073808/Smartfon-SAMSUNG-Galaxy-S23-Ultra-5G-Czarny-front-tyl-1.jpg">
                        </div>
                        <div class="bottom">
                            <p class="price">From <span>500</span>zł</p>
                            <button class="buy">Buy</button>
                        </div>
                    </div>
                </div>